<p-confirmDialog />

<h2>{{ 'shared.forms.course-form.title' | translate }}</h2>

<div class="my-2">
  <label for="redirect" class="me-2">{{ 'shared.forms.course-form.redirect' | translate }}</label>
  <p-checkbox [(ngModel)]="redirect" [binary]="true" id="redirect"/>
</div>

<form class="row g-3" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div class="col-md-4">
    <label for="name" class="form-label">{{ 'shared.forms.course-form.course-name' | translate }}</label>
    <input type="text" class="form-control" id="name" formControlName="name">
    @if (submitted && f.name.errors) {
      <div style="color: red">Name ist erforderlich.</div>
    }
  </div>

  <div class="col-md-1">
    <label for="abbreviation"
           class="form-label">{{ 'common.abbreviation' | translate }}</label>
    <input type="text" class="form-control" id="abbreviation" formControlName="abbreviation">
    @if (submitted && f.abbreviation.errors) {
      <div style="color: red">Abkürzung ist erforderlich.</div>
    }
  </div>

  <div class="col-md-7">
    <label for="fileName" class="form-label">{{ 'shared.forms.course-form.file-name' | translate }}</label>
    <p-inputGroup id="fileName" class="w-full">
      <input type="text" pInputText placeholder="" formControlName="text1"/>
      <p-inputGroupAddon>_Nachname_</p-inputGroupAddon>
      <input type="text" pInputText placeholder="" formControlName="text2"/>
      <p-inputGroupAddon>Nr_</p-inputGroupAddon>
      <input type="text" pInputText placeholder="" formControlName="text3"/>
      <p-inputGroupAddon>.pdf</p-inputGroupAddon>
    </p-inputGroup>
    @if (submitted && f.text1.errors) {
      <div style="color: red">Erster Teil ist erforderlich.</div>
    }
  </div>

  <div class="col-12 text-center">
    <p-button label="{{ 'common.btn-submit' | translate }}" size="small" type="submit" />
  </div>
</form>
