stages:
  - deploy

deploy_job:
  stage: deploy
  script:
    - cd /home/s2210458016/evaluator
    - echo "Shutting down docker containers..."
    - docker-compose down || true

    - echo "Removing dangling containers..."
    - docker container prune -f

    - cd ..
    - echo "Removing content of the evaluator folder (except db)..."
    - rm -r /home/s2210458016/evaluator/* || true
    - rm -r /home/s2210458016/evaluator/.* || true

    - cd /home/s2210458016/evaluator
    - echo "Loading project into the directory..."
    - git clone git@gitlab.fh-ooe.at:bin/evaluator.git .
    - git checkout $CI_COMMIT_REF_NAME

    - echo "Appending variables to the .env file..."
    - echo "BUILD_MODE=$BUILD_MODE" >> .env
    - echo "PG_PATH=$PG_PATH" >> .env
    - echo "PG_DB=$PG_DB" >> .env
    - echo "PG_DB_USER=$PG_DB_USER" >> .env
    - echo "PG_DB_PW=$PG_DB_PW" >> .env
    - echo "PG_HOST=$PG_HOST" >> .env
    - echo "PG_PORT=$PG_PORT" >> .env
    - echo "SECRET_KEY=$SECRET_KEY" >> .env
    - echo "DEBUG=$DEBUG" >> .env
    - echo "DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE" >> .env
    - echo "CORS_ALLOWED_ORIGINS=$CORS_ALLOWED_ORIGINS" >> .env
    - echo "ALLOWED_HOSTS=$ALLOWED_HOSTS" >> .env
    - echo "PATH_TO_JPLAG=$PATH_TO_JPLAG" >> .env

    - echo "Building and starting Docker containers..."
    - docker-compose build
    - docker-compose up -d

    - echo "Applying Django migrations..."
    - docker-compose exec -T backend python manage.py migrate
  only:
    - /^release\/release-.*$/
  tags:
    - deploy