<div class="row align-items-center justify-content-between">
  <h3 class="mb-3 col-9">{{ course.name }}</h3>
  <button mat-icon-button (click)="onEditBtnClick()">
    <mat-icon>settings</mat-icon>
  </button>
</div>

<div class="row gx-5">
  <div class="col-md-6 col-sm-12">
    <h4>Exercises</h4>
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        *ngFor="let exercise of course.exercises"
        [ngClass]="getExerciseStateClass(exercise)"
        (click)="onListExerciseClick(exercise)">
        {{ exercise.name }}
        <span>
            <p-badge [value]="(exercise.maxParticipants - exercise.correctedParticipants).toString()"></p-badge>
          </span>
      </li>
    </ul>

  </div>
  <div class="col-lg-6 col-sm-12">
    <h4>Course Ranking</h4>
    <!--TODO ranks-->
  </div>
</div>
