<div class="row align-items-center justify-content-between">
  <h3 class="mb-3 col-9">{{ course.name }}</h3>
  <button mat-icon-button (click)="onEditBtnClick()">
    <mat-icon>settings</mat-icon>
  </button>
</div>

<div class="row gx-5">
  <div class="col-md-6 col-sm-12">
    <h4>{{ 'course.courseView.title-assignments' | translate }}</h4>
    <ul class="list-group">
      @for (exercise of course.exercises; track exercise.id) {
        <li
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          [ngClass]="getExerciseStateClass(exercise)"
          (click)="onAssignmentClick(exercise)">
          {{ exercise.name }}
          @if (exercise.state !== 'INACTIVE' && (exercise.maxParticipants - exercise.correctedParticipants) !== 0) {
            <span>
              <p-badge [value]="(exercise.maxParticipants - exercise.correctedParticipants).toString()"></p-badge>
            </span>
          }
        </li>
      }
    </ul>

  </div>
  <div class="col-lg-6 col-sm-12">
    <h4>{{ 'course.courseView.title-ranking' | translate }}</h4>
    <!--TODO ranks-->
  </div>
</div>
