<table class="table table-bordered">
  <thead>
  <tr>
    @for (header of tableHeader(); track header.id) {
      <th>{{ header.name }}</th>
    }
  </tr>
  </thead>
  <tbody>
    @for (assignment of assignments(); track assignment.id) {
      <tr>
        <th>{{ assignment.name }}</th>
        @for (tutor of tutors(); track tutor.id) {
          <td>
            <p-dropdown [options]="groups()"
                        [ngModel]="getGroupByTutorAndAssignment(tutor.id, assignment.id)"
                        (ngModelChange)="setGroupByTutorAndAssignment(tutor.id, assignment.id, $event)">
            </p-dropdown>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
