<table class="table table-bordered m-2">
  <thead>
  <tr>
    @for (header of tableHeader(); track header.id) {
      <th>{{ header.name }}</th>
    }
  </tr>
  </thead>
  <tbody>
    @for (assignment of assignments(); track assignment.id) {
      <tr>
        <th>{{ assignment.name }}</th>
        @for (tutor of tutors(); track tutor.id) {
          <td>
            <p-multiSelect [showHeader]="false"
                           [options]="groups()"
                           [ngModel]="getGroupByTutorAndAssignment(tutor.id, assignment.id)"
                           (ngModelChange)="setGroupByTutorAndAssignment(tutor.id, assignment.id, $event)">
            </p-multiSelect>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
