<table mat-table [dataSource]="dataSource" class="evaluation-table">
  <ng-container matColumnDef="text" class="text">
    <th mat-header-cell *matHeaderCellDef class="text">{{ 'course.evaluateView.evaluateTable.annotation' | translate }}</th>
    <td mat-cell *matCellDef="let element" class="text">
      <p-editor [(ngModel)]="element.text"></p-editor>
    </td>
  </ng-container>

  <ng-container matColumnDef="points" class="points">
    <th mat-header-cell *matHeaderCellDef class="points">{{ 'course.evaluateView.evaluateTable.points' | translate }}</th>
    <td mat-cell *matCellDef="let element" class="points">
      <p-inputNumber [size]="1" [min]="defaultPoints != 0 ? defaultPoints * -1 : undefined"
        [(ngModel)]="element['points']" [showButtons]="true" buttonLayout="horizontal" [step]="1"
        decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
        incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" (onInput)="onInputChange()">
      </p-inputNumber>
    </td>
  </ng-container>

  <ng-container matColumnDef="action" class="action">
    <th mat-header-cell *matHeaderCellDef class="action"></th>
    <td mat-cell *matCellDef="let i = index" class="action">
      <button mat-icon-button color="warn" (click)="deleteRow(i); onInputChange()">
        <mat-icon>close</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="row justify-content-center mt-2">
  <button mat-mini-fab color="primary" (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
</div>

