<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">
      <i class="pi pi-users"></i>
      {{ 'degree-program.students-view.multi' | translate }}
    </p-tab>
    <p-tab value="1">
      <i class="pi pi-user"></i>
      {{ 'degree-program.students-view.single' | translate }}
    </p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <ms-multi-student-form [classGroups]="classGroups()" />
    </p-tabpanel>
    <p-tabpanel value="1">
      <ms-single-student-form [classGroups]="classGroups()" />
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
