<div class="grid grid-nogutter border border-2 rounded-1">
  <div class="col-12 border border-1 bg-primary">
    <div class="d-flex align-items-center w-100 p-2 gap-3">
      <h5 class="ms-1 mb-0 text-white">{{ 'home.dpdHome.programs' | translate }}</h5>
    </div>
  </div>
  @for (dp of degreePrograms(); track dp) {
    <div class="col-12 hover border border-1">
      <div class="d-flex align-items-center w-100 p-2 gap-3">
        <h5 class="ms-1 mb-0">{{ dp.name }}</h5>
        <div class="ms-auto">
          <p-button icon="pi pi-arrow-right" styleClass="p-button-secondary" (click)="onDegreeProgramClick(dp)"/>
        </div>
      </div>
    </div>
  } @empty {
    <div class="col-12 border border-1">
      <div class="d-flex align-items-center w-100 p-2 gap-3">
        <p>{{ 'common.no-data' | translate }}</p>
      </div>
    </div>
  }
</div>
