<h2>{{ 'homeView.adminHome.degreeProgramList.title' | translate }}</h2>
<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    @for (header of tableHeader; track header) {
      <th>{{ header }}</th>
    }
  </tr>
  </thead>
  <tbody>
    @for (program of degreePrograms; track program.abbreviation) {
      <tr>
        <td>{{ program.name }}</td>
        <td>{{ program.abbreviation }}</td>
        <td>{{ program.dpd }}</td>
      </tr>
    }
  </tbody>
</table>
<div class="text-center">
  <button class="btn btn-primary">{{ 'homeView.adminHome.degreeProgramList.btn-save' | translate }}</button>
</div>
