.evaluation-table {
  border-collapse: separate;
  border-radius: 7px;
  border-style: solid;
  border-color: #b0bec5;
  border-width: 2px;
}

.text {
  width: 80%;
}

.points {
  width: 15%;
}

.action {
  width: 5%;
}

td {
  padding: 10px;
  vertical-align: middle;
}

th {
  font-weight: normal;
  color: #999;
}

.group {
  margin-right: 25px;
  padding-right: 25px;
  border-right: 1px solid #ccc;
}

.fs {
  font-size: 13px;
}

.description {
  width: 78%;
}

.deduction {
  text-align: center;
  width: 22%;
}
