table {
  table-layout: fixed;
}

.text {
  width: 80%;
}

.points {
  width: 15%;
}

.action {
  width: 5%;
}

td {
  padding: 10px;
  vertical-align: middle;
}

th {
  font-weight: normal;
  color: #999;
}

.group {
  margin-right: 25px;
  padding-right: 25px;
  border-right: 1px solid #ccc;
}

.previous-deduction-fs {
  font-size: 13px;
}

.description {
  width: 80%;
}

.deduction {
  text-align: center;
  width: 160px;
}

.add-deduction {
  width: 5%
}
