<div class="border border-3" [ngClass]="showDeduction() ? 'rounded-top-3' : 'rounded-3'">
  <table class="table table-borderless">
    <thead>
    <tr class="border-bottom">
      <th class="text">{{ 'course.evaluateView.evaluateTable.annotation' | translate }}</th>
      <th class="points">{{ 'course.evaluateView.evaluateTable.points' | translate }}</th>
      <th class="action"></th>
    </tr>
    </thead>
    <tbody>
      @for (entry of tableData(); track $index) {
        <tr>
          <td>
            <p-editor [ngModel]="entry.text" (ngModelChange)="updateEntry($index, 'text', $event)" [readonly]="readOnly()">
              <ng-template #header>
                <span class="ql-formats group">
                  <button class="ql-bold" aria-label="Bold"></button>
                  <button class="ql-italic" aria-label="Italic"></button>
                  <button class="ql-underline" aria-label="Underline"></button>
                </span>
                <span class="ql-formats group">
                  <select class="ql-size">
                    <option value="small"></option>
                    <option selected></option>
                    <option value="large"></option>
                  </select>
                  <select class="ql-color"></select>
                  <select class="ql-background"></select>
                </span>
                <span class="ql-formats group">
                  <button class="ql-list" value="ordered" aria-label="Ordered"></button>
                  <button class="ql-list" value="bullet" aria-label="Bullet"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-link" aria-label="Link"></button>
                  <button class="ql-code-block" aria-label="Code"></button>
                </span>
              </ng-template>
            </p-editor>
          </td>
          <td>
            <p-inputNumber [min]="maxPossiblePoints() !== 0 ? maxPossiblePoints() * -1 : undefined"
                           [ngModel]="entry.points"
                           (ngModelChange)="updateEntry($index, 'points', $event)"
                           [showButtons]="true" buttonLayout="horizontal"
                           [step]="pointStepSize()"
                           [disabled]="readOnly()"
                           decrementButtonClass="p-button-danger"
                           incrementButtonClass="p-button-success"
                           incrementButtonIcon="pi pi-plus"
                           decrementButtonIcon="pi pi-minus"
                           [inputStyle]="{ width: '80px', 'text-align': 'center' }" />
          </td>
          <td>
            <p-button icon="pi pi-times"
                      [rounded]="true"
                      [text]="true" severity="danger"
                      [disabled]="readOnly()"
                      (click)="deleteRow($index)">
            </p-button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (showDeductionTableExtension()) {
  <div class="border border-3 rounded-bottom-3 border-top-0 px-2 pt-2">
    @for (deduction of previousDeductions(); track $index) {
      @if (!tableHasDeduction(deduction.description)) {
        <div class="d-flex gap-3 mb-2">
          <input class="description previous-deduction-fs" type="text" pInputText [(ngModel)]="deduction.description"
                 disabled="true"/>
          <input class="deduction previous-deduction-fs" type="text" pInputText [(ngModel)]="deduction.deduction"
                 disabled="true" />
          <p-button icon="pi pi-plus" class="add-deduction" text rounded severity="success" [disabled]="readOnly()"
                    (onClick)="addPreviousDeduction(deduction)"/>
        </div>
      }
    }
  </div>
}

<div class="row text-center mt-2">
  <p-button icon="pi pi-plus"
            severity="primary"
            [rounded]="true"
            [disabled]="readOnly()"
            (click)="addRow()">
  </p-button>
</div>
