<div>
  <ul class="list-group m-2"
      *ngFor="let group of groupNrs"
      pDroppable
      (onDrop)="drop(group)">
    <li *ngIf="group !== '-1'" class="list-group-item list-group-item-primary">Gruppe {{ group }}</li>
    <li *ngIf="group === '-1'" class="list-group-item list-group-item-primary">Inaktiv</li>
    <li class="list-group-item list-group-item-secondary"
        *ngFor="let student of groupedStudents[group]"
        pDraggable
        (onDragStart)="dragStart(student, group)"
        (onDragEnd)="dragEnd()">
      {{ student.lastName }} {{ student.firstName }}
    </li>
  </ul>
</div>

<div class="text-center">
  <button class="btn btn-primary mt-2 mb-5" (click)="onSaveBtnClick()">Save</button>
</div>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>


