<div class="d-flex gap-3 justify-content-center">
  <div class="col-6 border border-3 rounded-3 p-2">
    <ms-staff-control [selectableUsers]="selectableCourseLeaders()"
                      [(selectedUsers)]="selectedCourseLeaders"
                      title="{{ 'edit.staff.title-cl' | translate }}"
                      placeHolder="{{ 'edit.staff.placeholder' | translate }}" />
  </div>

  <div class="col-6 border border-3 rounded-3 p-2">
    <ms-staff-control [selectableUsers]="selectableTutors()"
                      [(selectedUsers)]="selectedTutors"
                      title="{{ 'edit.staff.title-tutor' | translate }}"
                      placeHolder="{{ 'edit.staff.placeholder' | translate }}" />
  </div>
</div>
