<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-contextMenu [model]="contextMenuItems" [global]="true"></p-contextMenu>

<h3>{{ correction.assignmentName }} - {{ correction.studentFullName }} | {{ totalPoints }}</h3>

<h4>{{ 'course.evaluateView.annotations' | translate }}</h4>

<ms-evaluate-table [tableData]="correction.draft.annotations"
                   [defaultPoints]="0"
                   (totalPoints)="updateAnnotationPoints($event)">
</ms-evaluate-table>

@for (exercise of correction.draft.exercise; track exercise.name) {
  <h4> {{ exercise.name }} | ({{ exercisePoints[exercise.name] }} / {{ getTotalExercisePoints(exercise.name) }}) </h4>

  @for (sub_exercise of exercise.sub; track sub_exercise.name) {
    <h6> {{ sub_exercise.name }} | ({{ subExercisePoints[sub_exercise.name] }} / {{ sub_exercise.points }})</h6>
    <ms-evaluate-table [tableData]="sub_exercise.notes"
                       [defaultPoints]="sub_exercise.points"
                       (totalPoints)="updateSubExercisePoints($event, sub_exercise.name, exercise.name)">
    </ms-evaluate-table>
  }
}

<p-dialog [(visible)]="expenseDialogVisible">
  <label for="expense" class="form-label">{{ 'course.evaluateView.setExpense' | translate }}</label>
  <input type="number" class="form-control" id="expense" [(ngModel)]="correction.expense">
</p-dialog>
