<h2 class="mb-3">{{ 'plag-scan.title' | translate }}</h2>

<p-block-ui [blocked]="isLoading">
  <p>{{ 'plag-scan.info' | translate }}</p>

  <div class="d-flex gap-3 mb-3">
    <p-select
      [style]="{'width': '230px'}"
      [options]="languages"
      [(ngModel)]="selectedLanguage"
      optionLabel="title"
      placeholder="{{'plag-scan.language' | translate }}"/>

    <input
      type="text"
      [(ngModel)]="extensionString"
      pInputText
      placeholder="{{ 'plag-scan.extension-placeholder' | translate }}"
      variant="filled"/>
  </div>

  <p-fileupload
    #fileUpload
    name="zipfile"
    [chooseLabel]="translationService.translate('common.choose-file')"
    [cancelLabel]="translationService.translate('common.cancel')"
    [customUpload]="true"
    (uploadHandler)="onUpload($event)"
    [showUploadButton]="extensionString && selectedLanguage"
    [multiple]="false"
    accept=".zip"
    [maxFileSize]="100000000" />
</p-block-ui>
