<div class="container-fluid">
  <div class="justify-content-center mt-3">
    <div class="col text-center">
      <h2>{{ 'homeView.title' | translate }} {{ user.firstName }}</h2>
    </div>
  </div>
  <div class="justify-content-center">
    @switch (user.role) {
      @case ('TUTOR') {
        <ms-tutor-home></ms-tutor-home>
      }
      @case ('DEGREE_PROGRAM_DIRECTOR') {
        <h2>DEGREE_PROGRAM_DIRECTOR</h2>
      }
      @case ('COURSE_LEADER') {
        <h2>COURSE_LEADER</h2>
      }
      @case ('ADMIN') {
        <ms-admin-home></ms-admin-home>
      }
    }
  </div>
</div>
