<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div class="my-4 pt-1 d-flex gap-3">
    <p-floatlabel>
      <input id="id" type="text" pInputText formControlName="id"/>
      <label for="id">{{ 'common.student-id' | translate }}</label>
    </p-floatlabel>

    <p-floatlabel>
      <input id="firstName" type="text" pInputText formControlName="firstName"/>
      <label for="firstName">{{ 'common.firstname' | translate }}</label>
    </p-floatlabel>

    <p-floatlabel>
      <input id="lastName" type="text" pInputText formControlName="lastName"/>
      <label for="lastName">{{ 'common.lastname' | translate }}</label>
    </p-floatlabel>

    <p-select
      id="dropdown"
      [style]="{'width': '220px'}"
      [options]="classGroups()"
      formControlName="classGroup"
      optionLabel="startYear"
      optionValue="id"
      placeholder="{{ 'common.choose-class-group' | translate }}" />
  </div>

  <p-button type="submit" label="{{ 'common.btn-submit' | translate }}" [disabled]="checkoutForm.invalid"/>
</form>

