<form class="row g-3" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <h2>{{ 'homeView.adminHome.degreeProgramForm.title' | translate }}</h2>
  <div class="col-md-4">
    <label for="name" class="form-label">{{ 'homeView.adminHome.degreeProgramForm.lbl-name' | translate }}</label>
    <input type="text" class="form-control" id="name" formControlName="name" required>
  </div>

  <div class="col-md-4">
    <label for="abbreviation"
           class="form-label">{{ 'homeView.adminHome.degreeProgramForm.lbl-abbreviation' | translate }}</label>
    <input type="text" class="form-control" id="abbreviation" formControlName="abbreviation" required>
  </div>

  <div class="col-md-4">
    <label for="id" class="form-label">{{ 'homeView.adminHome.degreeProgramForm.lbl-director' | translate }}</label>
    <select class="form-select" id="id" formControlName="id" required>
      <option selected disabled
              value="">{{ 'homeView.adminHome.degreeProgramForm.lbl-director-disabled' | translate }}
      </option>
      @for (choice of degreeProgramDirectorChoices; track choice) {
        <option [value]="choice.id">{{ choice.name }}</option>
      }
    </select>
  </div>

  <div class="col-12 text-center">
    <button class="btn btn-primary" type="submit">{{ 'homeView.adminHome.degreeProgramForm.btn-submit' | translate }}
    </button>
  </div>
</form>
