<p-confirmDialog />

<p-tabMenu
  [model]="menuItems"
  [activeItem]="activeItem"
  (activeItemChange)="onActiveItemChange($event)"/>

<div class="mt-4 mt-4 border border-3 rounded-3 p-2">
  <h2 class="mb-3">{{ activeItem?.label }}</h2>
  <div class="container">
    @switch (activeItem?.label) {
      @case ('Gruppeneinteilung') {
        <ms-edit-group [groupedStudents]="groupedStudents"/>
      }
      @case ('Gruppenzuteilung') {
        <ms-edit-partition [partition]="partition" [groups]="groups"/>
      }
      @case ('Allgemein') {
        <ms-edit-general [course]="course"/>
      }
      @case ('Assignments') {
        <ms-edit-due-dates [(courseInstance)]="dueDateCourseInstance"/>
      }
      @case ('Personal') {
        <ms-edit-staff [courseInstanceId]="courseId" [(selectedTutors)]="selectedTutors"
                       [user]="user" [(selectedCourseLeaders)]="selectedCourseLeaders"/>
      }
      @case ('Studierende') {
        <ms-edit-students [(students)]="students" />
      }
    }
  </div>
</div>

<div class="text-center mt-3">
  <p-button label="{{ 'common.btn-save' | translate }}"
            class="mt-2 mb-5 m-1" (click)="onSaveBtnClick()"
            size="small"/>
</div>
